[adafruit_io]
io_username = <ADAFRUIT IO USERNAMR>
io_key = <ADAFRUIT IO KEY>

[io_feeds]
temperature = <ADAFRUIT IO FEED KEY FOR TEMPERATURE DATA>
pressure = <ADAFRUIT IO FEED KEY FOR PRESSURE DATA>
humidity = <ADAFRUIT IO FEED KEY FOR HUMIDITY DATA>

[defaults]
rotation = <DEFAULT ROTATION [0, 90, 180, 270]>
display = <DEFAULT DISPLAY [1, 2, 3, 4]>
delay = <DELAY IN SECONDS BETWEEN UPLOADS - SMALLER NUMBER = MORE FREQ UPLOADS = HIGHER DATA RATE>
