# =========================================================
#                S E T T I N G S . T O M L
# ---------------------------------------------------------
# Please see README.md for instructions on how to use 
# these settings and their effects
# =========================================================

# -- Adafruit IO ------------------------------------------
AIO_USERNAME = "<ADAFRUIT IO USERNAMR>"
AIO_KEY = "<ADAFRUIT IO KEY>"
AIO_UPLOAD = "yes"      # [yes|no] - upload to Adafruit IO

FEED_TEMPS = "f451-dev.temperature"
FEED_PRESS = "f451-dev.pressure"
FEED_HUMID = "f451-dev.humidity"

# -- Misc. Settings for Data Management -------------------
UNIT_TEMPS = "C"        # [C|F|K]

# -- Misc. Application Defaults ---------------------------
ROTATION = 0            # Default rotation for Sense Hat 8x8 LED - [0, 90, 180, 270]
DISPLAY = 4             # [1|2|3|4] - default display mode
DELAY = 59              # Delay in seconds between uploads to Adafruit IO
WAIT = 1                # Delay in seconds between sensor reads
THROTTLE = 120          # Additional delay in seconds on 'ThottlingError'
PROGRESS = "on"         # [on|off] - show upload progress bar on 8x8 LED
SLEEP = 600             # Delay in seconds until screen is blanked

LOGLVL = "error"        # [debug|info|error] - logging level
LOGFILE = "<FILE NAME>"
